.side-room-info {
    color: var(--text);
    background-color: var(--level-1);
    flex: 1;
    border-top-left-radius: 10px;
}

.room-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border-bottom: solid 1px rgba(0, 0, 0, .2);
    height: 48px;
    font-weight: bold;
}

.room-title h4 {
    font-weight: normal;
}

.room-title span {
    line-height: 14px;
}

.chat-room-list {
    padding-top: 15px;
}

.chat-room-list .category {
    padding-left: 7px;
    color: var(--text-level-2);
    font-size: 12px;
}

.chat-room-list .category::before {
    content: 'v';
    color: var(--text-level-2);
    font-size: 12px;
    line-height: 14px;
    margin-right: 5px;
}

.room-list {
    padding: 5px 8px;
}

.room-list li {
    background-color: var(--level-3);
    display: flex;
    align-items: center;
    padding: 5px 8px;
    gap: 5px;
    border-radius: 5px;
}

.room-list .hash {
    width: 21px;
}