.side-profile-info {
    background-color: var(--level-0);
    display: flex;
    padding: 10px;
    gap: 8px;
}

.side-profile-info .right-wrap {
    display: flex;
    flex-direction: column;
}

.profile-info--nickname {
    color: var(--text);
    font-weight: bold;
    font-size: 14px;
}

.profile-info--id::before {
    content: '#';
    color: var(--text-level-2);
    font-size: 12px;
    line-height: 10px;
}

.profile-info--id {
    color: var(--text-level-2);
    font-size: 12px;
    line-height: 10px;
}