.side-bar {
    display: flex;
    position: fixed;
    width: 310px;
    height: 100%;
    background-color: var(--background);
}

.server-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 7px;
}

.server-list * {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side--icon {
    width: 48px;
    height: 48px;  
    background-color: var(--level-2);
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    transition: .2s ease;
}

.change--blue {
    margin-top: 5px;
}

.side--bar--divide {
    width: 32px;
    height: 2px;
    background-color: var(--level-3);
    margin: 5px;
}

.side--icon-home {
    fill: var(--text);
}

.side--icon > span {
    color: var(--text);
    font-size: 10px;
}

.side--icon:hover
:is( svg, span) {
    color: white;
    fill: white;
}

.change--blue > .side--icon:hover {
    border-radius: 17px;
    background-color: var(--accent);
}

.change--green > .side--icon:hover {
    border-radius: 17px;
    background-color: var(--green);
}






