a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
  -webkit-box-sizing:  border-box;
  -moz-box-sizing:  border-box;
  border-collapse:  collapse;
  line-height: inherit;
  vertical-align: inherit;
  font-family: inherit;
}

html, body, #root{
    height: 100%;
    width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
    --black: #000;
    --gray: #c0c0c0;
    --light_gray:#aaa;
    
    --accent: #5865f2;
    --text: #202124;
    --text-level-1: #505154;
    --text-level-2: #808184;

    --background: #e3e5e8;
  
    --level-1: #f2f3f5;
    --level-2: #ffffff;

    --hover: rgba(0, 0, 0, .05);

    --chat-input-bar: #ebedef;
}
.App.dark{
    --black: #000;
    --gray: #525252;
    --light_gray:#aaa;

    --accent: #5865f2;
    --text: #e8eaed;
    --text-level-1: #c7cad3;
    --text-level-2: #8b8f94;
    
    --background: #202225;

    --level-1: #2f3136;
    --level-2: #36393f;

    --hover: rgba(128, 128, 128, .15);

    --chat-input-bar: #40444b;
}