a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
  -webkit-box-sizing:  border-box;
  -moz-box-sizing:  border-box;
  border-collapse:  collapse;
  line-height: inherit;
  vertical-align: inherit;
  font-family: inherit;
}

html, body, #root{
    height: 100%;
    width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
    list-style: none;
}

.App {
    --black: #000;
    --gray: #c0c0c0;
    --light_gray:#aaa;
    --green:#3ba55d;
    
    --gray-icon: #74778d;
    --blue-icon: #5865f2;
    --light-blue-icon: #3ba3e8;
    --emerald-icon: #3ab8ba;
    --green-icon: #43b581;
    --light-green-icon: #88c800;
    --yellow-icon: #faa61a;
    --orange-icon: #fa7a0b;
    --red-icon: #f04747;
    --pink-icon: #f35ab9;
    --purple-icon: #9d7bd5;
    
    --accent: #5865f2;
    --text: #202124;
    --text-level-1: #505154;
    --text-level-2: #808184;

    --background: #e3e5e8;
  
    --level-0: #ebedef;
    --level-1: #f2f3f5;
    --level-2: #ffffff;
    --level-3: #d1d5d9;
    
    --hover: rgba(0, 0, 0, .05);
    
    --button: #2e3338;
    
    --chat-input-bar: #ebedef;
}

.App.dark {
    --black: #000;
    --gray: #525252;
    --light_gray:#aaa;
    --green:#3ba55d;

    --gray-icon: #747b8b;
    --blue-icon: #5865f2;
    --green-icon: #3da45d;
    --light-green-icon: #88c800;
    --yellow-icon: #f9a61b;
    --red-icon: #ec4444;

    --accent: #5865f2;
    --text: #e8eaed;
    --text-level-1: #c7cad3;
    --text-level-2: #8b8f94;
    
    --background: #202225;
    
    --level-0: #292b2f;
    --level-1: #2f3136;
    --level-2: #36393f;
    --level-3: #42464d;
    
    --hover: rgba(128, 128, 128, .15);
    
    --button: #b9bbbe;
    
    --chat-input-bar: #40444b;
}

.scroll-bar::-webkit-scrollbar {
    width: 16px;
    background-color: var(--level-1);
    border-radius: 50px;
    overflow: hidden;
    border: 4px solid var(--level-2);
}
.scroll-bar::-webkit-scrollbar-thumb {
    background-color: var(--background);
    background-clip: padding-box;
    border-radius: 50px;
    border: 4px solid transparent;
}